<!DOCTYPE html>
<html lang="en">
<head>
{% load widget_tweaks %}
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cadastro de Cliente</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>Adicionar um novo <b>Cliente</b></h2>
                        </div>
                    </div>
                </div>
                {% block content %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group col-md-6">
                            <label for="nome_cliente">Nome</label>
                            {% render_field form.nome_cliente class+="form-control" %}
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cpf">CPF</label>
                            {% render_field form.cpf class+="form-control" %}
                        </div>

                        <div class="form-group col-md-3">
                            <label for="rg">RG</label>
                            {% render_field form.rg class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-8">
                            <label for="email">E-mail</label>
                            {% render_field form.email class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-2">
                            <label for="telefone">Telefone</label>
                            {% render_field form.telefone class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-2">
                            <label for="celular">Celular</label>
                            {% render_field form.celular class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-7">
                            <label for="endereco">Endereço</label>
                            {% render_field form.endereco class+="form-control" %} 
                        </div>
                        
                        <div class="form-group col-md-5">
                            <label for="complemento">Complemento</label>
                            {% render_field form.complemento class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-6">
                            <label for="cidade">Cidade</label>
                            {% render_field form.cidade class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-3">
                            <label for="estado">Estado</label>
                            {% render_field form.estado class+="form-control" %} 
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cep">CEP</label>
                            {% render_field form.cep class+="form-control" %} 
                        </div>

                        <div class=text-right>
                            <input type="submit" class="btn btn-primary" value="Cadastrar">
                        </div>
                    </form>
                {% endblock %}
            </div>  
        </div>
    </div>        
</body>
</html>